//- adminDashboard.pug

extends layout

block content
  h1 Administraci칩n de Usuarios

  // Imprimir el valor de `users` directamente en la p치gina para depuraci칩n
  p Usuarios obtenidos para depuraci칩n: #{JSON.stringify(users)}
  
  #user-list
    if users && users.length
      each user in users
        .user(data-id=user.id)
          p Username: #{user.username}
          p Email: #{user.email}
          p Role: #{user.role}
    else
      p No hay usuarios disponibles
